body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navTitle {
  color: white
}



/* 
#btn{
  background-color: rgba(28, 26, 176, 0.885);
  border: solid;
  border-color: rgba(12, 9, 111, 0.76)
}

#btn:hover{
  background-color: rgba(51, 18, 105, 0.893)
}

#validationServer03{
  border: groove
}

body{
  background-image: url('https://cdn.wallpapersafari.com/34/62/9RJl4i.jpg');
  background-size: cover, contain
  
}

#city{
  color: white
}

#weatherDataInfo .card{
  background: linear-gradient(90deg, rgb(9, 131, 156) 0%, rgba(9, 9, 121, 0.535) 85%, rgba(0,212,255,1) 100%);
  color: white    
}

#clear{
  background-color: rgba(183, 54, 54, 0.698);
  border: solid;
  border-color: rgba(183, 54, 54, 0.367);
  color: white
} */